<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" xmlns="http://java.sun.com/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
    <servlet>
        <servlet-name>EsInicio</servlet-name>
        <servlet-class>co.umb.ColombianUniversity.Controller.EsInicio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InscribirMaterias</servlet-name>
        <servlet-class>co.umb.ColombianUniversity.Controller.EsInscripcionMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EsInscripcionMaterias</servlet-name>
        <servlet-class>co.umb.ColombianUniversity.Controller.EsInscripcionMaterias</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ESInsMateriaRegistrar</servlet-name>
        <servlet-class>co.umb.ColombianUniversity.Controller.ESInsMateriaRegistrar</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>EsInicio</servlet-name>
        <url-pattern>/EsInicio.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EsInscripcionMaterias</servlet-name>
        <url-pattern>/EsInscripcionMaterias.do</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ESInsMateriaRegistrar</servlet-name>
        <url-pattern>/ESInsMateriaRegistrar</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
